		
		<ul class="nav menu">
			<li ><a href="/admin"><em class="fa fa-dashboard">&nbsp;</em> Resultado</a></li>
			<li class="parent "><a data-toggle="collapse" href="#sub-item-1">
				<em class="fa fa-navicon">&nbsp;</em> Votações<span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span>
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li><a class="" href="/admin/finalizadas">
						<span class="fa fa-arrow-right">&nbsp;</span> Finalizadas
					</a></li>
				</ul>
			</li>
			<li class="parent "><a data-toggle="collapse" href="#sub-item-2">
				<em class="fa fa-navicon">&nbsp;</em> Cadastrar<span data-toggle="collapse" href="#sub-item-2" class="icon pull-right"><em class="fa fa-plus"></em></span>
				</a>
				<ul class="children collapse" id="sub-item-2">
					<li><a class="" href="/admin/candidato">
						<span class="fa fa-arrow-right">&nbsp;</span> Candidatos
					</a></li>					
					<li><a class="" href="/admin/chapas">
						<span class="fa fa-arrow-right">&nbsp;</span> Chapas
					</a></li>
					<li><a class="" href="/admin/eleicao">
						<span class="fa fa-arrow-right">&nbsp;</span> Eleição
					</a></li>
					<li><a class="" href="/admin/eleitor">
						<span class="fa fa-arrow-right">&nbsp;</span> Eleitores
					</a></li>
				</ul>
			</li>
			<li><a href="/admin/logout"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
		</ul>
	</div><!--/.sidebar-->
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="/admin">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Eleitores</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Eleitores</h1>
			</div>
		</div><!--/.row-->
		
<h4>Importar Eleitores</h4>			<br>
		
			<form action="/admin/eleitor" enctype="multipart/form-data" method="post" style="align-items: flex-end;">
			<input  type="file" name="file" required="required">
			<br>
			<input class="btn btn-primary" type="submit" value="Upload">
			</form>  
			<br>

		    
			<div class="panel panel-container" style="display: flex;">
			<div class="container">

			
				<div class="card-body" style="display: grid;">
				<div class="table-responsive">
					
				
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

					
					<thead>
					<tr>
					<th scope="col" >Nome</th>
					<th scope="col">Matrícula</th>
					<th scope="col">CPF</th>
					<th scope="col">Celular</th>
					<th scope="col">Local</th>
					<th scope="col">Reset Senha</th>

					</tr>

					</thead>
					<tbody>
                  {{#each eleitor}}
                  <tr>
                    <td>{{nome}}</td>
                    <td>{{matricula}}</td>
										<td>{{cpf}}</td>
                    <td>{{telefone}}</td>
										<td>{{local}}</td>
										<td style="text-align: -webkit-center;">
											<span class="btn btn-primary btn-sm" onclick="pass('{{id}}')">
												<input type="hidden" id="typedel-{{id}}" name="id" value="{{id}}">
												<i class="fa fa-pencil"></i>
											</span>
										</td>
						</tr>

					{{else}}
	

					{{/each}} 
						
					</tbody>

				</table>
				</div>
			</div>

			</div>
			</div>


		
	
	</div>	<!--/.main-->

<script>
	$(function () {
    $('#dataTable').DataTable({
      "pageLength": 10,
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": false,
      "autoWidth": false,
      });
  });
</script>
<script>
    $(document).ready(function() {
          $('#dataTable').DataTable();
    });

		function pass(id) {

							Swal.fire({
								title: 'Resetar senha do eleitor?',
								showDenyButton: true,
								showCancelButton: false,
								confirmButtonText: `Sim`,
								denyButtonText: `Não`,
							}).then((result) => {
									if (result.isConfirmed) {
											$.ajax({
												url:'/admin/eleitor/pass',
												method:'POST',
												contentType: 'application/json',
												dataType: 'json',
												data: JSON.stringify({"resp": 1, "id": id})
											}).done(function(retorno){
												if (retorno.ok == 'passok'){
														Swal.fire({
															icon: 'success',
															title: 'Senha Atualizada Para: '+ retorno.Pass,
															text: "Informe o eleitor",
															showConfirmButton: true,
														})
												}
											})

									} else if (result.isDenied) {
										Swal.fire('Senha não foi alterada', '', 'info')
									}
							})


									
		
	}

		
</script>

