
		<ul class="nav menu">
			<li class="active"><a href="/admin"><em class="fa fa-dashboard">&nbsp;</em> Resultado</a></li>
			<li class="parent "><a data-toggle="collapse" href="#sub-item-1">
				<em class="fa fa-navicon">&nbsp;</em> Votações<span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span>
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li><a class="" href="/admin/finalizadas">
						<span class="fa fa-arrow-right">&nbsp;</span> Finalizadas
					</a></li>
				</ul>
			</li>
			<li class="parent "><a data-toggle="collapse" href="#sub-item-2">
				<em class="fa fa-navicon">&nbsp;</em> Cadastrar<span data-toggle="collapse" href="#sub-item-2" class="icon pull-right"><em class="fa fa-plus"></em></span>
				</a>
				<ul class="children collapse" id="sub-item-2">
					<li><a class="" href="/admin/candidato">
						<span class="fa fa-arrow-right">&nbsp;</span> Candidatos
					</a></li>
					<li><a class="" href="/admin/chapas">
						<span class="fa fa-arrow-right">&nbsp;</span> Chapas
					</a></li>
					<li><a class="" href="/admin/eleicao">
						<span class="fa fa-arrow-right">&nbsp;</span> Eleição
					</a></li>
					<li><a class="" href="/admin/eleitor">
						<span class="fa fa-arrow-right">&nbsp;</span> Eleitores
					</a></li>
				</ul>
			</li>
			<li><a href="/admin/logout"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
		</ul>
	</div><!--/.sidebar-->
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

		<div class="row">
			<ol class="breadcrumb">
				<li><a href="/admin">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Resultados</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Resultado</h1>
			</div>
		</div><!--/.row-->
					
			<div class="panel panel-container" style="display: block;">
				<div class="container-fluid">

						{{#each resultado}}
						<div class="panel panel-default">
						<div class="panel-heading">{{nome}}</div>
						<div class="panel-body btn-margins">
							<div class="col-md-12">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th style="width: 85%;">Chapa</th>
											<th>Votos</th>
										</tr>
									</thead>
									<tbody>
											{{#each votos}}
										<tr>
											<td>{{chapa}}</td>
											<td>{{voto}}</td>
										</tr>
											{{else}}
											<td>Nenhum voto Contabilizado</td>
											<td>{{voto}}</td>
											{{/each}}
									</tbody>
								</table>
							{{!-- <span><h4>Brancos: {{brancos}}</h4></span>
							<span><h4>Nulos: {{nulos}}</h4></span> --}}
							</div>
						</div>
					</div>
				{{else}}
				<h1> Resultado não disponível</h1>
				{{/each}}

				
		
		</div>

	</div>	<!--/.main-->
