<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

    <div class="container">
		<div class="row">
			
			<div class="col-12" style="text-align-last: center">
				<img src="/assec.png" class="img-fluid" alt="Responsive image">
				<h1>Sistema de votação integrado ASSEC</h1>
				<h1>Resultado</h1>
			</div>
			<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
			<div class="panel panel-container" style="display: block;">
				<div class="container-fluid" style="margin-bottom: inherit;">
					<br>

						{{#each resultado}}
						<div class="panel panel-default">
						<div class="panel-heading">{{nome}}</div>
						<div class="panel-body btn-margins">
							<div class="col-md-12">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>Chapa</th>
											<th>Votos</th>
										</tr>
									</thead>
									<tbody>
											{{#each votos}}
										<tr>
											<td>{{chapa}}</td>
											<td>{{voto}}</td>
										</tr>
											{{else}}
											<td>Nenhum voto Contabilizado</td>
											<td>{{voto}}</td>
											{{/each}}
									</tbody>
								</table>
							<span><h4>Brancos: {{brancos}}</h4></span>
							<span><h4>Nulos: {{nulos}}</h4></span>
							</div>
						</div>
					</div>
				{{else}}
				<h1> Resultado não disponível</h1>
				{{/each}}

			<button onclick="location.href='/votar'"type="submit" class="btn btn-info"></a><h4>Voltar</h4></button>
			<button onclick="location.href='/votar'"type="submit" class="btn btn-info"></a><h4>Edital</h4></button>

		</div>

	</div>	<!--/.main-->


			</div>
			</div>
	</div>


  <style>

        @import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
    @import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
    body {
		padding: 60px 0px;
		background-color: rgb(161, 200, 223);
	}
	

		.panel-heading {
			background-color: rgb(161, 200, 223)	!important;
			color: rgb(2, 23, 29) !important;
			font-size: 15px;
			line-height: 20px;
			font-weight: 300;
			text-align: left;
	}

		.col-12 h1 {

			color: rgb(255, 255, 255);	
			font-size: 25px;
			line-height: 50px;
			font-weight: 400;
			text-align: center;
			margin: 0 0 20px;
			padding-bottom: 20px;

			font-family: 'Lato', sans-serif;
	
		}

    
    .event-list {
		list-style: none;
		font-family: 'Lato', sans-serif;
		margin: 0px;
		padding: 0px;
	}
	.event-list > li {
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 5px rgb(51, 51, 51);
		box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
		padding: 0px;
		margin: 0px 0px 20px;
	}
	.event-list > li > time {
		display: inline-block;
		width: 100%;
		color: rgb(255, 255, 255);
		background-color: #1565c0;
		padding: 5px;
		text-align: center;
		text-transform: uppercase;
	}


	.event-list > li > time > .day {
		display: block;
		font-size: 56pt;
		font-weight: 100;
		line-height: 1;
	}
	.event-list > li time > .month {
		display: block;
		font-size: 24pt;
		font-weight: 900;
		line-height: 1;
	}

	.event-list > li > .info {
		padding-top: 5px;
		text-align: center;
	}
	.event-list > li > .info > .title {
		font-size: 17pt;
		font-weight: 700;
		margin: 0px;
	}
	.event-list > li > .info > .desc {
		font-size: 13pt;
		font-weight: 300;
		margin: 0px;
	}
		.event-list > li > .info > .desc1 {
		font-size: 13pt;
		font-weight: 300;
		margin: 0px;
		text-transform: uppercase;
		padding-left: 10px;
	}
	.event-list > li > .info > ul,
	.event-list > li > .social > ul {
		display: table;
		list-style: none;
		margin: 10px 0px 0px;
		padding: 0px;
		width: 100%;
		text-align: center;
	}
	
	.event-list > li > .info > ul > li,
	.event-list > li > .social > ul > li {
		display: table-cell;
		cursor: pointer;
		color: rgb(30, 30, 30);
		font-size: 11pt;
		font-weight: 300;
        padding: 3px 0px;
	}
    .event-list > li > .info > ul > li > a {
		display: block;
		width: 100%;
		color: rgb(30, 30, 30);
		text-decoration: none;
	} 
   
	.event-list > li > .info > ul > li:hover,
	.event-list > li > .social > ul > li:hover {
		color: rgb(30, 30, 30);
		background-color: rgb(200, 200, 200);
	}

	@media (min-width: 768px) {
		.event-list > li {
			position: relative;
			display: block;
			width: 100%;
			height: 120px;
			padding: 0px;
		}
		.event-list > li > time,
		.event-list > li > img  {
			display: inline-block;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 120px;
			float: left;
		}
		.event-list > li > .info {
			background-color: rgb(245, 245, 245);
			overflow: hidden;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 120px;
			height: 120px;
			padding: 0px;
			margin: 0px;
		}
		.event-list > li > .info {
			position: relative;
			height: 120px;
			text-align: left;
			padding-right: 40px;
		}	
		.event-list > li > .info > .title, 
		.event-list > li > .info > .desc {
			padding: 0px 10px;
		}
		.event-list > li > .info > ul {
			position: absolute;
			left: 0px;
			bottom: 0px;
		}

	}
  </style>